absl-py==2.1.0
acres==0.2.0
aider-chat==0.61.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.14.0
altair==5.3.0
annotated-types==0.7.0
anyio==4.6.2.post1
anykeystore==0.2
apex==0.9.10.dev0
api_secrets==1.23
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.5.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
Babel==2.8.0
backcall==0.2.0
backoff==2.2.1
bcc==0.18.0
beautifulsoup4==4.12.3
beniget==0.4.1
bleach==4.1.0
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.4.0
cbor2==5.6.5
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.0
chrome-gnome-shell==0.0.0
ci-info==0.3.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.4
colorlog==6.9.0
comm==0.2.2
command-not-found==0.3
ConfigArgParse==1.7
configobj==5.0.9
configparser==7.1.0
contourpy==1.2.1
crcmod==1.7
cryptacular==1.6.2
cryptography==44.0.0
cupshelpers==1.0
cycler==0.12.1
dacite==1.8.1
dbus-python==1.2.18
debugpy==1.8.5
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
diff-match-patch==20241021
diffusers==0.31.0
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
docx==0.2.4
entrypoints==0.4
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.0.1
face-recognition-models==0.3.0
facenet-pytorch==2.6.0
fastapi==0.115.5
filelock==3.16.1
fitz==0.0.1.dev2
flake8==7.1.1
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.5.0
fs==2.4.12
fsspec==2024.10.0
gast==0.5.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.21.0
google-auth==2.35.0
google-cloud-texttospeech==2.20.0
googleapis-common-protos==1.65.0
gpg==1.16.0
graphviz==0.20.3
greenlet==3.1.1
grep-ast==0.3.3
grpcio==1.67.0
grpcio-status==1.67.0
gTTS==2.5.3
h11==0.14.0
hidpidaemon==18.4.6
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.6
httplib2==0.20.2
httpx==0.27.2
huggingface-hub==0.26.2
hupper==1.12.1
idna==3.10
ImageHash==4.3.1
imageio==2.35.0
importlib_metadata==7.2.1
importlib_resources==6.4.5
iopath==0.1.10
ipykernel==6.29.5
ipython==8.26.0
ipython_genutils==0.2.0
ipywidgets==6.0.0
isodate==0.6.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jiter==0.7.0
joblib==1.4.2
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-console==6.4.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab-pygments==0.1.2
kaggle==1.6.17
kazam==1.4.5
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
launchpadlib==1.10.16
layoutparser==0.3.4
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
librosa==0.10.2.post1
litellm==1.51.2
llvmlite==0.43.0
looseversion==1.3.0
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.3.8
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.14
missingno==0.5.2
missingpy==0.2.0
mixpanel==4.10.1
ml-dtypes==0.4.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multimethod==1.12
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.2.1
nibabel==5.3.2
nipype==1.9.2
notebook==6.4.8
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
onboard==1.4.1
openai==1.53.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt-einsum==3.3.0
optuna==4.1.0
packaging==24.1
pandas==2.2.2
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.4
PasteDeploy==3.1.0
pathlib==1.0.1
pathspec==0.12.1
patsy==0.5.6
pbkdf2==1.3
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
phik==0.12.4
pickleshare==0.7.5
pillow==10.2.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.2.2
playsound==1.3.0
plotly==5.24.1
ply==3.11
pooch==1.8.2
pop-transition==1.1.2
portalocker==3.0.0
posthog==3.7.0
prometheus-client==0.9.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
prov==2.0.1
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
py==1.10.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.20.1
pycodestyle==2.12.1
pycparser==2.22
pycups==2.0.1
pydantic==2.9.2
pydantic_core==2.23.4
pydbus==0.6.0
pydeck==0.9.1
pydot==3.0.3
pydub==0.25.1
pyflakes==3.2.0
pygame==2.6.0
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyMuPDF==1.25.1
PyNaCl==1.5.0
pypandoc==1.14
pyparsing==3.2.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyramid==2.0.2
pyramid-mailer==0.15.1
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytesseract==0.3.13
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.1.2
python-dotenv==1.0.1
python-gnupg==0.4.8
python-slugify==8.0.4
python-xlib==0.29
python3-openid==3.2.0
pythran==0.10.0
pytorch-ranger==0.1.1
pyttsx3==2.98
pytz==2022.1
PyWavelets==1.7.0
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.2.0
rdflib==6.3.2
referencing==0.35.1
regex==2024.9.11
repolib==2.2.1
repoman==1.4.0
repoze.sendmail==4.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.3
rpds-py==0.20.1
rsa==4.9
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
sentry-sdk==2.17.0
sessioninstaller==0.0.0
setproctitle==1.3.3
simpleaudio==1.0.4
simplejson==3.19.3
six==1.16.0
smmap==5.0.1
smp==3.2.0
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
speedtest-cli==2.1.3
SQLAlchemy==2.0.36
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
streamlit==1.37.0
submitit==1.5.2
sympy==1.12
systemd-python==234
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tifffile==2024.8.10
tiktoken==0.8.0
timm==1.0.11
tokenizers==0.21.0
toml==0.10.2
toolz==0.12.1
torbrowser-launcher==0.3.3
torch==2.2.2
torch-optimizer==0.3.0
torch-tb-profiler==0.4.3
torchaudio==2.4.0+cu124
torchinfo==1.8.0
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
traits==6.4.3
transaction==5.0
transformers==4.47.1
translationstring==1.4
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
triton==2.2.0
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unicodedata2==14.0.0
urllib3==2.2.3
uvicorn==0.15.0
velruse==1.1.1
venusian==3.1.0
visions==0.7.6
wadllib==1.3.6
wandb==0.18.5
watchdog==4.0.1
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.9
Werkzeug==3.0.6
widgetsnbextension==2.0.0
wordcloud==1.9.3
wsproto==1.0.0
WTForms==3.2.1
wtforms-recaptcha==0.3.2
xdg==5
xkit==0.0.0
yarl==1.17.1
ydata-profiling==4.11.0
zipp==3.20.2
zope.deprecation==5.0
zope.interface==7.1.1
zope.sqlalchemy==3.1
